@import url('https://fonts.googleapis.com/css?family=Unica+One');

header {
  text-align: center;
  grid-area: Header;
  width: 100%;
  background-image: url('/ball.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  height: 400px;
  box-shadow: -1px 8px 10px #000;
}

.title {
  margin-top: 300px;
  color: white;
  font-size: 5rem;
  font-family: 'Unica One', cursive;
}