main {
  grid-area: Main;
  margin: 0 50px 200px 0;
  font-size: 20px;
  width: 800px;
}

.get {
  width: 800px;
  height: 800px;
}

.get2 {
  width: 800px;
  height: 300px;
}

.post3 {
  width: 800px;
  height: 300px;
}

.post2 {
  height: 80px;
}

.post1 {
  width: 800px;
}

.patch1, .patch3 {
  width: 800px;
  height: 100px;
}
.patch2, .patch4 {
  width: 800px;
  height: 50px;
}

.delete {
  width: 800px;
  height: 50px;
}

.endpoint {
  color: #AF632A;
}