nav {
  grid-area: Nav;
}

ul {
  list-style-type: none;
  margin-left: 50px;
  padding: 0;
}

.overview, .link {
  cursor: pointer;
  font-size: 20px;
  color: #AF632A;
  font-size: 20px;
}

.overview:hover, .link:hover {
  color: #fff;
}

.endpoints {
  margin-bottom: 10px;
  font-size: 20px;
  color: #AF632A;
}

.link {
  margin: 0 0 10px 12px;
  font-size: 17px;
  color: #AF632A;
  font-weight: 700;
  
}