nav {
  grid-area: Nav;
}

ul {
  list-style-type: none;
  margin-left: 50px;
  padding: 0;
}

.overview, .link {
  cursor: pointer;
  font-size: 20px;
  color: #C10E2C;
}

.overview:hover, .link:hover {
  color: #fff;
}

.endpoints {
  margin-bottom: 10px;
  font-size: 20px;
  color: #C10E2C;
}

.link {
  margin-bottom: 10px;
  font-size: 20px;
}