.App {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows:400px auto;
  grid-template-areas: 
    "Header Header"
    "Nav Main";
  font-family: 'Roboto', sans-serif;
  background-color: rgb(19, 17, 17);
  color: #fff;

}

@import "Header";
@import "Nav";
@import "Main";