@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows:400px auto;
  grid-template-areas: 
    "Header Header"
    "Nav Main";
  font-family: 'Roboto', sans-serif;
  background-color: rgb(38, 32, 32);
  color: #fff;
  font-family: 'Roboto', sans-serif;

}

@import "Header";
@import "Nav";
@import "Main";